<a href="https://colab.research.google.com/github/varshith302/b.sri-varshith-reddy/blob/main/lab_6ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    'Category': ['Cat', 'Dog', 'Bird', 'Dog', 'Cat'],
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Green']
}

df = pd.DataFrame(data)

df_one_hot = pd.get_dummies(df, columns=['Category', 'Color'], prefix=['Category', 'Color'])
print("One-Hot Encoded DataFrame:")
print(df_one_hot)
print("\n" + "-"*50 + "\n")

label_encoder = LabelEncoder()

df['Category_Label'] = label_encoder.fit_transform(df['Category'])
df['Color_Label'] = label_encoder.fit_transform(df['Color'])

print("Label Encoded DataFrame:")
print(df)
print("\n" + "-"*50 + "\n")

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'DOB': ['1990-01-01', '1985-05-23', '2000-12-15']
}

df = pd.DataFrame(data)
df['DOB'] = pd.to_datetime(df['DOB'])

df['Age'] = pd.to_datetime('today').year - df['DOB'].dt.year

print("Data with Age Column:")
print(df)
print("\n" + "-"*50 + "\n")

group_data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'Chicago'],
    'Sales': [100, 200, 150, 250, 300]
}

group_df = pd.DataFrame(group_data)

grouped = group_df.groupby('City').agg({'Sales': 'sum'}).reset_index()

print("Grouped Data by City with Total Sales:")
print(grouped)
print("\n" + "-"*50 + "\n")

pivot_data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'Chicago'],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Jan'],
    'Sales': [100, 200, 150, 250, 300]
}

pivot_df = pd.DataFrame(pivot_data)

pivot_table = pivot_df.pivot_table(values='Sales', index='City', columns='Month', aggfunc='sum', fill_value=0)

print("Pivot Table for Sales by City and Month:")
print(pivot_table)

One-Hot Encoded DataFrame:
   Category_Bird  Category_Cat  Category_Dog  Color_Blue  Color_Green  \
0          False          True         False       False        False
1          False         False          True        True        False
2           True         False         False       False         True
3          False         False          True        True        False
4          False          True         False       False         True

   Color_Red
0       True
1      False
2      False
3      False
4      False

--------------------------------------------------

Label Encoded DataFrame:
  Category  Color  Category_Label  Color_Label
0      Cat    Red               1            2
1      Dog   Blue               2            0
2     Bird  Green               0            1
3      Dog   Blue               2            0
4      Cat  Green               1            1

--------------------------------------------------

Data with Age Column:
      Name        DOB  Age
0    Alice 1990-01-01   35
1      Bob 1985-05-23   40
2  Charlie 2000-12-15   25

--------------------------------------------------

Grouped Data by City with Total Sales:
          City  Sales
0      Chicago    300
1  Los Angeles    450
2     New York    250

--------------------------------------------------

Pivot Table for Sales by City and Month:
Month        Feb  Jan
City
Chicago        0  300
Los Angeles  250  200
New York     150  100